.padding_small{
    padding: 2px 0px 2px 100px;
}

.wrapper_small{
    border: solid #757575;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
    max-width: 250px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80px;
    width: 250px;
    border: solid #757575;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
}
.text_wrapper{
    display: flex;
    justify-content: space-evenly;
}